.container {
	--size: 2.6em;

	display: grid;
	place-items: center;
	width: var(--size);
	height: var(--size);
	background: var(--primary);
	border: 1px solid rgba(255, 255, 255, .1);
	box-shadow: 0 1px 24px rgba(0, 0, 0, .4);
	border-radius: 100%;
	cursor: pointer;

	&:focus-within,
	&:hover {
		border: 3px solid rgba(255, 255, 255, .3);
	}
}

.input {
	// Use opacity and an unreachable position to hide the element.
	// This way the input is still focusable.
	position: absolute;
	opacity: 0;
	top: 100%;
}

.icon {
	--size: 1.8em;

	width: var(--size);
	height: var(--size);
	fill: currentColor;
}