.container {
	display: grid;
	place-content: center;
	margin: 1em;
}

.buttons {
	--size: 2.8em;

	display: grid;
	padding: 4px 0;
	grid-template-columns: var(--size);
	grid-template-rows: var(--size) 1px var(--size);
	background: var(--behind);
	border-radius: 100px;

	@media (max-width: 1000px) {
		grid-template-columns: var(--size) 1px var(--size);
		grid-template-rows: var(--size);
	}
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--size);
	cursor: pointer;

	&[disabled] {
		cursor: default;
		opacity: .4;
	}

	&.destructive {
		color: var(--destructive);
	}
}

.separator {
	--gradient-direction: to right;

	background: linear-gradient(var(--gradient-direction), rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));

	@media (max-width: 1000px) {
		--gradient-direction: to bottom;
	}
}