.container {
	--padding: 2em;
	--indention: 3em;

	display: grid;
	grid-template-columns: [ start-outer-content ] var(--indention) [ start-middle-content ] var(--indention) [ start-inner-content ] 1fr [ end-inner-content ] var(--indention) [ end-middle-content ] var(--indention) [ end-outer-content ];
	grid-auto-rows: min-content;
	margin: 0 auto;
	padding: 0 var(--padding);
	width: 100%;
	max-width: 1400px;
	overflow: hidden;

	@media (max-width: 1000px) {
		--indention: 2em;
	}

	@media (max-width: 800px) {
		--padding: 1em;
		--indention: 1em;
	}

	@media (max-width: 600px) {
		--padding: 1em;
		--indention: .5em;
	}
}