.container {
	display: grid;
	place-content: center;
	min-height: 0;
	margin: 1em;

	@media (max-width: 1000px) {
		grid-row: 1;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: start;
	gap: 1px;
	width: 480px;
	min-height: 0;
	max-height: 801px;
	background: var(--before);
	border-radius: 28px;
	overflow: auto;
}